/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Стили для контейнера формы */
  .container {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  /* Стили для заголовка */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Стили для полей ввода */
  input[type="text"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 3px;
    outline: none;
    background-color: #444;
    color: #fff;
  }
  
  /* Стили для кнопки входа */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Стили для ссылки на регистрацию */
  .register-link {
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  /* Стили для ссылки на восстановление пароля */
  .forgot-password {
    margin-top: 10px;
    text-decoration: none;
    color: #aaa;
  }